<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />
  <button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''">Add</button>
  <!--クリックまたはaddボタンを押すことでnewItemの値をaddItemの引数に入れる-->

  <!-- Buttons that show all, still to do, or done items on click -->
  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Done
    </button>
  </div>

  <h2>
    {{items.length}}
    <span> @if (items.length === 1) { item } @else { items } </span>
    <!--itemが複数あるならitemsの複数形にする-->
  </h2>

  <ul>
    <!--get items()で取得したitems各要素をループして表示、{}の中身が繰り返し表示される-->
    <!--trackで一意の識別子を指定すると不要なDOM操作を減らせる。(user_id等)-->
    @for(item of items; track item.description){
      <li>
        <app-item (remove)="remove(item)" [item]="item"></app-item>
      </li>
    }
  </ul>
  <app-optimizer></app-optimizer>
</div>